## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.gz
*.synctex*
*.xdv
*.out.pyg

## BibTex files
*.bbl
*.blg
*.fdb_*

## Intermediate documents:
*.dvi
*-converted-to.*
